header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-container{
    height: 40px;
    display: flex;
    gap: 25px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}

.nav {
    display: flex;
    align-items: center;
}

.links-container a{
    text-shadow: 2px 2px 8px black;
    padding: 12px 10px;
    border-radius: 12px;
}

.links-container a:hover{
    background-color: var(--accent-color);
    text-shadow: none;
    transition: all 1s;
}

@media (max-width: 768px){
    header{
        height: 50px;
    }
    .links-container{
        gap: 65px;
        background-color: #000;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: center;
        font-size: 2.5rem;
        font-weight: 300;
        transform: translate(100%);
        transition: all .8s;
    }
    .menu-burger-container.show ~ .links-container {
        transform: translate(0);
    }
    .links-container a:hover {
        background-color: transparent;
        border-radius: 25px;
        border: 2px solid #fff;
    }
}