main{
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.title {
    height: 12%;
    color:#ECEDF1;
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
    font-size: 2.3rem;
}*/

.info {
    height: 65vh;
    display: flex;
    align-items: center;
    gap: 3%;
}

.strange,
.wanda,
.profX,
.wong,
.miss {
    width: 14.3vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px #000;
    border-radius: 25px 5px;
    border: 1.8px solid #ECEDF1;
    background-color: rgba(255, 255, 255, 0.080);
    transition: all 1s;
}

.img-content {
    border-radius: 10px;
}

.name-content {
    color: #ECEDF1;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.text-content {
    display: none;
}

.strange:hover,
.wanda:hover,
.profX:hover,
.wong:hover,
.miss:hover {
    margin-top: 3%;
    width: 14.3vw;
    height: 65vh;
    gap: 8px;
    font-family: 'Mulish', sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 20px;
    border: 2.3px solid #ECEDF1;
    transition: all 1s;
}

.strange:hover .name-content,
.wanda:hover .name-content,
.profX:hover .name-content,
.wong:hover .name-content,
.miss:hover .name-content {
    color: #2F2C38;
}

.strange:hover .text-content,
.wanda:hover .text-content,
.profX:hover .text-content,
.wong:hover .text-content,
.miss:hover .text-content{
    display: block;
    font-size: 0.93rem;
    text-align: center;
}

@media (max-width:768px){
    .info{
        display: flex;
        flex-direction: column;
    }
    .strange,
    .wanda,
    .profX,
    .wong,
    .miss {
    width: 40vw;
    height: 50vh;
    }

    .strange.show ~ .text-content {
        transform: translate(0);
    }
}